#menuBox{
    -fx-alignment: center-left;
}
#root{
    -fx-min-width: 800;
    -fx-min-height: 400;
}
.filterLabel{
    -fx-pref-width: 120;
    -fx-text-fill: #ffffff;
}

.filterCombo{
    -fx-pref-width: 120;
}

.filterText{
    -fx-pref-width: 150;
}

#filterButtonBox{
    -fx-alignment: center;
    -fx-spacing: 20;
}

#filterBox{
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-background-color: #2b2b2b;
}

#titleButtonLeftBox{
    -fx-spacing: 10;
    -fx-alignment: center;
}

#titleIpBox{
    -fx-spacing: 10;
    -fx-alignment: center;
}